=f.fields_for :firm do |firm_form|
  .field.to_clear
    =firm_form.label :name
    %br
    =firm_form.text_field :name, class: "box_to_clear"
  .field.to_clear
    =firm_form.label :website
    %br
    =firm_form.text_field :website, class: "box_to_clear"
  .field.to_clear
    =firm_form.label :building
    %br
    =firm_form.text_field :building, class: "box_to_clear"

  .field.to_clear
    =firm_form.label :street_address
    %br
    =firm_form.text_field :street_address, class: "box_to_clear"

  .field.to_clear
    =firm_form.label :city
    %br
    =firm_form.text_field :city, class: "box_to_clear"

  .field.to_clear
    =firm_form.label :country
    %br
    =firm_form.text_field :country, class: "box_to_clear"

  .field.to_clear
    =firm_form.label :postcode
    %br
    =firm_form.text_field :postcode, class: "box_to_clear"

