-if comment.has_been_flagged_by(current_user)
  You have flagged this comment as inappropriate
-else
  - unless comment.user == current_user
    =link_to "Flag comment as inappropriate", mark_inappropriate_comment_path(comment), {remote: true, method: :post}