- friend = locals[:friend] if defined?(locals)

%li{:class => "ui-state-default friend_box", "data-user_id" => friend.id, :id => "user_#{friend.id}"}
  %h2.wall_of_shame
    = link_to "#{friend.full_name}", user_path(friend)
  =image_tag friend.user_image.thumb.url, class: "wall_card"
  - unless friend.business == "Other"
    %p.wall_text
      =friend.business
  - if friend.firm
    %p.wall_text
    =friend.firm.to_string
