- friend = locals[:friend] if defined?(locals)

%li{:class => "ui-state-default friend_box", "data-user_id" => friend.id, :id => "user_#{friend.id}"}

  = link_to "#{friend.full_name}", user_path(friend)
  %br
  =image_tag friend.user_image.thumb.url
  %br
  - unless friend.business == "Other"
    =friend.business
    %br
  - if friend.firm
    =friend.firm.to_string
