%h1 Wall of Shame
%h2 The following users have been red-flagged as non-investors masquerading as investors. Do you agree?
%ul
  #users_on_wall_of_shame
    =render partial: 'red_flags/walled_users', locals: {users: @flagged_users}
