%h1 List of Users






%h3 current user will come here to search for new friends
#user_tag_cloud
%ul
  - @visible_users.each do |user|
    %li
      =user.email
      =user.business
      - if user.business == "Investor"
        #red_flag_raiser
          =render partial: 'users/red_flag', locals: {user: user}
      -unless current_user.exceeds_black_ball_limit?
        = link_to "Befriend", new_friendship_path(proposee_id: user.id)