$('#friend_requests').html("<h2 class='walled_user'>Propose new friendship with<%=escape_javascript(" #{@proposee.full_name}") %></h2>")
$('#friend_requests').append("<%=escape_javascript(render partial: 'friendships/form') %>")
$('#friend_requests').fadeIn(300);