$('#friend_requests').html("<p>You accepted the friend request</p>")
$('#drag_and_drop_friend_list').html("<%=escape_javascript(render partial: 'friends/friends_list') %>")
runConnectedSortable();
  setTimeout(function(){
    $('#friend_requests').fadeOut(300);
  }, 300);