$('#friend_requests').html("<p>You accepted the friend request</p>")
$('#drag_and_drop_friend_list').html("<%=escape_javascript(render partial: 'friends/friends_list') %>")
$('#incoming_friend_requests_block').html("<%=escape_javascript(render partial: 'friends/incoming_requests') %>")
runConnectedSortable();
  setTimeout(function(){
    $('#friend_requests').fadeOut(300);
    checkRequestDisplay();
  }, 300);
  checkFriendRequests();
