#post_form_button_spacer
  %button#new_post New Post


#remote_post_form
  = render "form"

#users_posts
  %h1 Your Posts
  %ul
    #users_post_list
      = render partial: 'post', locals: {posts: @user_posts}

#friends_posts
  -unless @friends_posts.blank?
    %h1 Your Friends' Posts
    %ul
      #friends_post_list
        = render partial: 'post', locals: {posts: @friends_posts}