// Place all the styles related to the Friendships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.connectedSortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  min-height: 20px;
  background: #DDDDDD
 }

 .myClass {
  transform: rotate(15deg);
-ms-transform: rotate(15deg);
-webkit-transform: rotate(15deg);
box-shadow:rgba(0,0,0,0.5) 0px 0px 24px;
 transition: box-shadow 0.15s ease 0.05s;
 transition: transform  0.15s ease 0.05s;
 transition: -ms-transform 0.15s ease 0.05s;
 transition: -webkit-transform 0.15s ease 0.05s;

}