$light_blue: #00CCFF;
$electric_blue: #3399DD;
$droid: 'Droid Sans', sans-serif;
$pink: #F95759;

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  // color: white;
  // font-family: $droid;
  // background: $electric_blue;
  // text-decoration: none;
  // padding-left: 5px;
  // padding-right: 5px;
  // padding-top: 1px;
  // padding-bottom: 1px;
  // border-radius: 2px;
  //  &:hover {
  //   color: #fff;
  //   background-color: $light_blue;
  // }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: $electric_blue;
  font: $droid;
  padding: 5px;
  padding-left: 10px;
  margin: 0px;
  font-style: italic;
}

.field_with_errors {
  border-radius: 5px;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: $pink;
  display: table;
}

#error_explanation {
  font-family: $droid;
  margin-left: 10px;
  width: 450px;
  padding: 5px;
  padding-bottom: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: white;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 10px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: $pink;
    color: #fff;
  }
  ul li {
    font-size: 10px;
    list-style: none;
    margin-top: 0px;
  }

  ul {
    padding: 0px;
    margin: 0px;
  }
}
