
$title_font: 'Oxygen', sans-serif;
$roboto: 'Roboto', sans-serif;
$electric_blue: #3399DD;
$droid: 'Droid Sans', sans-serif;
$light_blue: #00CCFF;
$light_grey: #cccccc;
$dark_grey: #888888;


body {
    background: image_url('ETTradingFloor.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    }

#friend_requests{
  background: white;
  position: fixed;
  padding: 10px;
  top: 50%;
  left: 50%;
  width: 30em;
  height: 10em;
  margin-left: -15em;
  border-radius: 5px;
  border: 1px solid #dddddd;
  box-shadow:rgba(0,0,0,0.5) 0px 0px 24px;
  display: none;
}

#title_bar {
  background: rgba(0,0,0,0.7);
  height: 160px;
  width: 100%;
  text-align: center;
  position: relative;
  margin: auto;
  min-width: 940px;
  padding-top: 40px;
  position: relative;
}

#nav ul li a {
  font-family: $droid;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  background: none;
  &:hover {
    color: #fff;
    background-color: $light_blue;
  }
}



#black_ball_bar {
  background: $light_blue;
  color: white;
  margin: 0px;
  text-align: center;
  padding: 3px;
}


.highlight {
  background: $light_blue;

}


.login {
  color: white;
  position: absolute;
  top: 1em;
  right: 1em;
}

.login a {
  text-decoration: none;
  color: white;
  font-family: $droid;
  background: none;
  &:hover {
    color: #fff;
    background-color: $light_blue;
  }
}

.hoot_box {
  // font-family: $droid;
  font-weight: bold;
  color: white;
  font-size: 6em;
  text-shadow: 0.0em 0.0em 0.4em white;
}

#nav ul {
  padding: 0;
}

#nav ul li  {
  font-family: $title_font;
  display: inline-block;
  font-size: 1.2em;
  padding-left: 1em;
  padding-right: 0.5em;
  list-style: none;
}

#nav ul li a {
  text-decoration: none;
}

.container {
  margin: auto;

  background: rgba(255,255,255,0.95);
  position: relative;
  min-height: 1200px;
}

.container.landing_page{
  background: none;
  position: relative
}

.human_capital {
  position: absolute;
  top: 225px;
  left: 0%;
  z-index: 10;
  text-shadow: 0.0em 0.0em 0.4em white;
  background: rgba(0,0,0,0.6);
  width: 100%;
  text-align: center;
}

.human_capital h1 {
  font-size: 6em;
  color: white;
  padding: 10px;

}

.search_bar_field {
  display: inline-block;
  text-align: left;

}



#login_box {
background: rgba(0,0,0,0.7);

z-index: 20;
margin_bottom: 20px !important;
}

#control_bar {
  padding-left: 30px;
  text-align: left;
  font-family: $droid;
  padding-bottom: 10px;
  font-weight: bold;
}

#button_bar {

  padding-left: 10px;

  height: 35px;
}

#post_title {
  // width: 100%;
  font-size: 1.5em;
  font-size: $droid;
  color: $electric_blue;
}

#new_post {
  display: inline;
  margin-top: 10px;
}

#post_sharing_pref {
  background: $light_blue;
  color: white;
  width: 226px;

}


#remote_post_form {
  display: none;
  opacity: 1;


}



.post_column {
 padding: 10px;
}

.post_column h2 {
  font-family: $roboto;
  font-weight: bold;
}

.post_column ul {
  padding-left: 0;
}

.post_column ul li {
  list-style: none;
}

.form_column {
  padding: 10px;
}


#post_search_form_button{
  display: none;


}

.post_edit_buttons {
  display: inline;
}

.investment_styles_list ul {
  list-style-type: none;
  padding: 0;
}

.investment_styles_list h5 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.field label {
  font-weight: bold;
  font-size: 85%;
}

.check_box {
  display: inline-block;
  border: 1px solid $light_blue;
  padding: 2px;
  border-radius: 2px;
  margin-bottom: 3px;
  background: white;
  color: $electric_blue;
}

.form_check_box {
  width: 100%;
}

form.edit_post input[type=submit] {
  width: 226px;
  margin-top: -1px;
  border: none;
  color: white;
  font-family: $droid;
  background: $light_blue;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 2px;
   &:hover {
    color: #fff;
    background-color: $electric_blue;
  }
}

form.new_post input[type=submit] {
  width: 226px;
  margin-top: -1px;
  border: none;
  color: white;
  font-family: $droid;
  background: $light_blue;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 2px;
   &:hover {
    color: #fff;
    background-color: $electric_blue;
  }
}







a.custom_link {
  color: white;
  font-family: $droid;
  background: $electric_blue;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 2px;
   &:hover {
    color: #fff;
    background-color: $light_blue;
  }

}

a.alternative {
  background: $light_blue;
  &:hover {
    color: #fff;
    background-color: $electric_blue;
  }
}


a.tone_down {
  background: $light_grey

}







.custom_button {
  margin-top: -1px;
  border: none;
  color: white;
  font-family: $droid;
  background: $light_blue;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 2px;
   &:hover {
    color: #fff;
    background-color: $electric_blue;
  }

}




.post_title_bar h1 {
  font-family: $roboto;
  padding: 10px;
  border-bottom: 1px solid #dddddd;
  background: white;
}

h3 {
  font-family: $roboto;
  border-bottom: 2px solid #dddddd
}

#comment_content {
  width: 99%;
  padding: 2px;
  height: 40px;
  font-size: 0.8em;
  line-height: 140%;
  max-height: 150px;
  max-width: 99%;
  border-radius: 5px;
  border: none;
}

#remote_comments_form{
border: 1px solid #dddddd;
border-radius: 5px;
background: white;
}

.comment_submit {
  padding-left: 5px;
  background: white;
  padding-bottom: 0px;
}

.comments_box {
  padding: 5px;
  border-bottom: 1px solid $light_blue;
}

#disclaimer_text {
  display: none;
  background: white;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  overflow: auto;
}

#main_content {
background: white;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #dddddd;

}

#firm_select {
  display: none;
}

#form_with_firm_fields {
  display: none;
}


// .form_fields {
//   opacity: 0;
// }

a.clicker {
  font-size: 85%;
  text-decoration: underline;
}



.read_post {
  background: white;
  border: 1px solid #dddddd;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-right: 50px;
  position: relative;
  border-radius: 5px;
  overflow: auto;
}

.read_post li {
  font-family: $droid;
  color: $dark_grey;
  padding-left: 5px;
}


.read_post h3 {
  font-family: $droid;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
}

.unread_post {
  background: white;
  border: 2px solid $light_blue;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-right: 50px;
  position: relative;
  border-radius: 5px;
  overflow: auto;
  box-shadow:rgba(0,204,255,0.8) 0px 0px 15px;
}

.unread_post li {
  font-family: $droid;
  color: black;
  padding-left: 5px;
}


.unread_post h3 {
  font-family: $droid;
  color: $electric_blue;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
}

.post_list_item {
  position: relative;

}
.mini_image {
  position: absolute;
  top: 10px;
  right: 10px;

  border-radius: 3px;
}

.title_and_photo {
  background: #eeeeee;
  position: relative;
}

.list_view_of_posts h3 {
  font-family: $roboto;
  margin-bottom: 5px;
  background: #eeeeee;
  padding: 2px;


}

.post_title {
  width: 80%
}

#post_title  {
  width: 614px;


}


.show_and_edit {
  position: absolute;
  bottom: 10px;
  right: 10px
}


.welcome {
  text-align: center;
}


h1.welcome {
  font-family: $droid;
  color: white;
  font-size: 3em;
}

h1.form_heading {
  font-family: $droid;
  background: white;
  padding: 10px;
  color: $electric_blue;
  border-bottom: 2px solid $light_blue;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 5px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 5px;

}




.inner_column {
  padding: 10px;
  position: relative;
}

.sign_up_field {
  display: inline-block;

}

.your_details {
  display: none;
}

.investment_interests {
  display: none;
}

.your_firm {
  display: none;
}

.password_section{
  display: none;
}

.tinymce {
  height: 150px;
  max-height: 150px;
  margin-bottom: 10px;
}

#user_tag_cloud {
  height: 600px;
  width: 100%;
  // box-shadow:rgba(255,255,255,0.5) 0px 0px 25px;

  background: rgba(0,0,0,0.6);
  position: relative;
  margin-top: 50px;

}

#post_tag_cloud {
  height: 600px;
  width: 100%;
  // box-shadow:rgba(255,255,255,0.5) 0px 0px 25px;
  // border-radius: 5px;
  background: rgba(0,0,0,0.6);
  position: relative;
  margin-top: 50px;

}

div.jqcloud span.w10 {
  color: #0FF !important;
  line-height: 54px !important;
  text-shadow: 0.0em 0.0em 0.4em white;
}

div.jqcloud span.w9 {
  line-height: 50px !important;
  text-shadow: 0.0em 0.0em 0.3em white;
}

div.jqcloud span.w8 {
  line-height: 44px !important;
  text-shadow: 0.0em 0.0em 0.2em white;
}


div.jqcloud span.w7 {
  line-height: 40px !important;
  text-shadow: 0.0em 0.0em 0.2em white;
}

div.jqcloud span.w6 {
  line-height: 34px !important;
  text-shadow: 0.0em 0.0em 0.2em white;
}

div.jqcloud span.w5 {
  line-height: 30px !important;
  text-shadow: 0.0em 0.0em 0.2em white;
}

div.jqcloud span.w4 {
  line-height: 24px !important;
  text-shadow: 0.0em 0.0em 0.2em white;
}

div.jqcloud span.w3 {
  line-height: 20px !important;
  text-shadow: 0.0em 0.0em 0.2em white;
}

div.jqcloud span.w2 {
  line-height: 14px !important;
  text-shadow: 0.0em 0.0em 0.1em white;
}

div.jqcloud span.w1 {
  line-height: 10px !important;
  text-shadow: 0.0em 0.0em 0.1em white;
}


p.introduction {
  color: white;
  font-family: $droid;
  font-size: 1.25em;
}

p.instructions {
  color: black;
  font-family: $title_font;
  font-size: 1em;
  font-weight: bold;
}


.wrapper {
  text-align: center;
  padding-top: 5px;
  font-family: $droid
}


.login_field {
display: inline-block;
color: white;
font-size: 1em;
margin-bottom: 0.5em;
padding-left: 1em;
padding-right: 1em;

}

#new_password {
  opacity: 0;
  display: none;
}

#mce_14 {
  background: white !important;
}

#mce_19 {
  background: white !important;

}

#mce_28 {
  background: white !important;
  height: 15px;
}

#mce_28-body {
  height: 15px !important;
}

#mce_29 {
  display: none !important;
}

.login_bar {
  border: 1px solid white;
}

#incoming_friend_requests_block {

  z-index: 10;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,0.7);
  padding: 5px;
  text-align: left;
  max-height: 4.5em;
  overflow: auto;
  padding-left: 12em;
  display: none;
  min-height: 4.5em
}

#requests {
  font-family: $roboto;
  color: white;
  position: fixed;
  bottom: 10px;
  left: 1em;
  z-index: 12;
  border-bottom: none;
  display: none;
}

#incoming_friend_requests_block ul {
  padding: 0px;
  margin: 0px;
}

#incoming_friend_requests_block ul li {
  padding-left: 0px;


}


.friend_box {
  border: 2px solid $light_blue;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow:rgba(0,204,255,0.7) 0px 0px 10px;
  font-size: 1em;
  list-style: none;
  padding: 5px;
  display: inline-block;
  overflow: auto;
  width: 180px;

}

.new_friend_box {
  color: white;
  text-align: center;
  width: 20%;
  background: $light_blue;
  border-radius: 5px;
  margin-bottom: 5px;
  box-shadow:rgba(051,153,221,0.7) 0px 0px 10px;
  font-size: 0.8em;
  list-style: none;
  position: relative;
  display: inline-block;
  width: 22em;

}

.new_friend_box a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.friends_column {
  text-align: center;
}

.friends_column h3 {


}


#list_of_users ul {
  padding-left: 0px;
  list-style: none;
}

#list_of_users li {
  list-style: none;
  margin-bottom: 10px;
  background: white;
  padding: 10px;
  border-bottom: 1px solid $light_blue;
}

#list_of_suers li a {
  text-decoration: none;
}

.small_text submit {
  background: none
}

.button_to {
  display: inline-block;

}

.small_text {
  font-size: 0.8em;
  font-style: italic;
  color: $light_blue;
  padding-left: 0px;
}

.small_text a {
  color: $electric_blue;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

h2.wall_of_shame{
  font-family: $droid;
  line-height: 1.2;
  margin-top: 5px;
  margin-bottom: 5px;
  color: black;
}


h2.wall_of_shame a {
  color: black;
  text-decoration: none;
}

ul.wall_of_shame_list {
  list-style: none;
  padding-left: 0px;
}

.wall_of_shame_list li {
  display: inline-block;
  background: white;
  border: 2px solid $light_blue;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  width: 200px;
  margin: 5px;
  overflow: auto;
  box-shadow:rgba(051,153,221,0.7) 0px 0px 10px;

}

#incoming_friend_requests_block h2 {
  color: white;

}

.pagination {
  background: $light_blue;
  display: inline-block;;
  color: white;
  font-size: 1em;
  font-family: $title_font;
  padding: 3px;
  margin-top: 5px;
}

.pagination a {
  color: white;
  text-decoration: none;
}

ul.admin_lists {
  padding: 0px;
  list-style: none;
}

.admin_lists li {
    list-style: none;
    padding: 5px;

}

.disclaimer_window {
  overflow: auto !important;
  display: none;
}

.detail_image {
  margin: auto;
  display: block;
}

.thumb_image {
  margin: auto;
  display: block;
}

.wall_card {
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
  margin: auto;
  border-radius: 5px;
}

p.wall_text {
  font-family: $droid;
  margin-top: 3px;
  margin-bottom: 0px;
}

.wall_card a {
  color: black;
}

.centered {
  text-align: center;
}

p.sorry {
  font-family: $droid;
  color: $electric_blue;
  font-style: italic;
  padding-left: 10px;

}

.custom_input {
  border-radius: 5px;
  border: 1px solid $light_blue

}


li.bold_list_item {
  color: black;
  font-weight: bold;
}