#remote_post_form {
  display: none;
  opacity: 0;
}

#post_form_button_spacer {
  height: 30px
}

.post_edit_buttons {
  display: inline;
}

.investment_styles_list ul {
  list-style-type: none;
  padding: 0;
}

.investment_styles_list h5 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.field label {
  font-weight: bold;
  font-size: 85%;
}

.check_box {
  display: inline-block;
  background: #eeeeee;
  border: 2px solid white;
  padding: 3px;
  border-radius: 5px;
}

#firm_select {
  display: none;
}

#form_with_firm_fields {
  display: none;
}


// .form_fields {
//   opacity: 0;
// }

a.clicker {
  font-size: 85%;
  text-decoration: underline;
}

div.jqcloud span.w10 {
  line-height: 60px !important;
  text-shadow: 0.0em 0.0em 0.2em white;
}




#user_tag_cloud {
  background: #eeeeee;
  border-radius: 10px;
  height: 400px;
  width: 50%;
}


#new_password {
  opacity: 0;
  display: none;
}

#mce_14 {
  background: white !important;
}

#mce_19 {
  background: white !important;

}

#mce_28 {
  background: white !important;
  height: 15px;
}

#mce_28-body {
  height: 15px !important;
}

#mce_29 {
  display: none !important;
}